@import url("https://fonts.googleapis.com/css?family=Roboto:400,700");
@import url("https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css");
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
body {
	color: #fff;
	background: #272c4a;
	font-family: 'Roboto', sans-serif;
}
html {
	scroll-behavior: smooth;
}
.form-control {
	height: 40px;
	box-shadow: none;
	color: #969fa4;
}
.form-control:focus {
	border-color: #5cb85c;
}
.form-control, .btn {        
	border-radius: 3px;
}
.form {
	width: 350px;
	margin: 0 auto;
	padding: 30px 0;
  	font-size: 15px;
}
.form h2 {
	color: #636363;
	margin: 0 0 15px;
	position: relative;
	text-align: center;
}
.form h2:before, .form h2:after {
	content: "";
	height: 2px;
	width: 30%;
	background: #d4d4d4;
	position: absolute;
	top: 50%;
	z-index: 2;
}	
.form h2:before {
	left: 0;
}
.form h2:after {
	right: 0;
}
.form .hint-text {
	color: #999;
	margin-bottom: 30px;
	text-align: center;
}
.form form {
	color: #999;
	border-radius: 3px;
	margin-bottom: 15px;
	background: #f2f3f7;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
	padding: 30px;
}
.form .form-group {
	margin-bottom: 20px;
}
.form input[type="checkbox"] {
	margin-top: 3px;
}
.form .btn {        
	font-size: 16px;
	font-weight: bold;		
	min-width: 140px;
	outline: none !important;
}
.form .row div:first-child {
	padding-right: 10px;
}
.form .row div:last-child {
	padding-left: 10px;
}    	
.form a {
	color: #fff;
	text-decoration: underline;
}
.form a:hover {
	text-decoration: none;
}
.form form a {
	color: #5cb85c;
	text-decoration: none;
}	
.form form a:hover {
	text-decoration: underline;
}  

.dropbtn {
    background-color: #3498DB;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  .dropdown {
    position: relative;
    display: inline-block;
  }