@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,500&display=swap'); 

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #24252A;
}
html {
    scroll-behavior: smooth;
}
li ,a , button{

    font-family: "Montserrat" , ssans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}
header{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 10%;


}
.logo{
    cursor: pointer;
    margin-right: auto;
    height: 50px;
    width: 60px;
    
}
.nav_links{
    list-style: none;
}
.nav_links li{
    display: inline-block;
    padding: 0px 20px;
}
.nav_links li a{
    transition: all 0.4s ease 0s;
}
.nav_links li a:hover{
    color: #0088a9;
}
button{
    padding: 9px 25px;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    cursor: pointer;
    border-radius: 50px;
    transition: all 0.4s ease 0s;
    margin-left: 20px;
}
button:hover{
    background-color: rgba(0, 136, 169, 0.5);
}
.box-div{
    width:25%;
    height: 350px;
    float: left; 
    margin-left: 5%; 
    margin-top: 15%; 
    /* background-color: #de3131; */
}
.display_background{
    width: 100%;
    height: 800px; 
    float: left; 
    background-color: #a9c3de;
}
.h1_font_style{
    color: red;
    text-align: center;
}
.input_button{
    padding: 9px 25px;
    color: #edf0f1;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    cursor: pointer;
    border-radius: 50px;
    transition: all 0.4s ease 0s;
    align-self: center;
    margin: 30%;
}
