@model Expanse_Manager.Models.expense
@{
    ViewBag.Title = "expense";
    Layout = null;
}
<html>
<body>
    <link href="~/css/forms.css" rel="stylesheet" />
    @using (Html.BeginForm("Addexpense", "Home", FormMethod.Post))
    {
        <div class="form">
            <form action="#" method="post">
                <h2>Expense</h2>

                <div class="form-group">
                    <input type="text" class="form-control" name="Title" placeholder="Title of Expense" required="required">
                </div>
                <div class="form-group">
                    <textarea class="form-control" placeholder="Description" name="Discription"></textarea>
                </div>
                <div class="form-group">
                    <label class="dropbtn  ">select expense</label>
                    <select class="dropdown" name="catagory">
                        <option value="hospital">hospital</option>
                        <option value="Food">Food</option>
                        <option value="clothes">clothes</option>
                        <option value="lightbill">lightbill</option>
                        <option value="waterbill">waterbill</option>
                        <option value="petrol">petrol</option>
                    </select>
                </div>
                <div class="form-group">
                  @*  @Html.HiddenFor(x => x.datetime, new { @class = "form-control" })*@
                    @Html.DisplayFor(x => x.datetime, new { @class = "form-control" })
                    
                   @* <input type="hidden" class="form-control" name="datetime" required="required">*@
                </div>
                <div class="form-group">
                    <input type="number" class="form-control" name="Amount" placeholder="Amount of Expense" required="required">
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-success btn-lg btn-block">Add</button>
                </div>
            </form>
            <!-- <div class="text-center">Already have an account? <a href="sing_up.html">Sign up</a></div> -->
        </div>
    }
    </body>
</html>