@model Expanse_Manager.Models.total_limit
@{
    ViewBag.Title = "limit";
    Layout = null;
}
<link href="~/css/forms.css" rel="stylesheet" />
@using (Html.BeginForm("Addlimit", "Home", FormMethod.Post))
{
    <div class="form">
        <form action="#" method="post">
            <h2>Total Limit</h2>

            <div class="form-group">
                <input type="number" class="form-control" name="total_limit1" placeholder="Total Limit" required="required">
            </div>


            <div class="form-group">
                <button type="submit" class="btn btn-success btn-lg btn-block">Add</button>
            </div>
        </form>
        <!-- <div class="text-center">Already have an account? <a href="sing_up.html">Sign up</a></div> -->
    </div>
}
